<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1> MadLibs </h1>
    <form id="words">
        Place: <input type="text" placeholder="place" class="place" name="place">
        <br>
        Verb: <input type="text" placeholder="verb" class="verb" name="verb">
        <br>
        Noun: <input type="text" placeholder="noun" class="noun" name="noun">
        <br>
        Adjective: <input type="text" placeholder="adjective" class="adjective" name="adjective">
        <br>
        Plural Noun: <input type="text" placeholder="plural" class="plural" name="plural">
        <button> Submit </button>
    </form>
    <p id="result"> </p>
    <script src="/static/formInfo.js"></script>
</body>
</html>